<component name="ArtifactManager">
  <artifact type="war" name="SpringBootSession:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="Spring-Boot-Session-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootSession:war exploded" />
    </root>
  </artifact>
</component>